<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>G-Money Zhizzle</title>
		
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

		<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="master" charset="utf-8">>

    </head>
    <body>
        <p id="points">

        </p>
        <p>
            lives: <span id="lives"></span>
        </p>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src='http://cdn.html5quintus.com/v0.1.5/quintus-all.js'></script>
		
		<script src="/js/game.js"></script>
		
    </body>
</html>
<!-- # 2013-09-07 #  -->